# Python compiled files
__pycache__/
*.py[cod]

# Saved results
/results/*/*.png
/results/*/*.stl
/results/*/*.vti
/results/*/*.3mf
/results/*/*_creation/
/results/*/*_displacement/

# Test outputs
/tests/test_output*
/tests/*/*.npz
!/tests/references/
!/tests/references/*.npz
.coverage

# Build (when an executable is created)
/dist/
/build/
*.egg-info/
